.all_cat {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  .cat_card img {
    width: 100%;
  }
  
  .card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .author p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #594810;
    background: #ffffcb;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
  }
  
  .time p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #898989;
  }
  
  /* card text */
  
  .card_text a{
      text-decoration: none;
  }
  
  .card_text a:hover{
      text-decoration: underline;
      color: #000000;
  }
  
  .card_text p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  
  /* Load More */
  .load_more h4{
    text-align: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .load_more span{
      color: #292D32;
  }
  